.bookYourEscape{
    width: 100%;
    min-height: 423px;
    background: #EBD2BF;
    display: flex;
    margin-bottom: 5px;
}

.bookYourEscapeContentContainer{
    flex: 1;
    display: flex;
    align-items: center;
}

.bookYourEscapeContent{
    max-width: 510px;
    display: flex;
    flex-direction: column;
    gap:18px;
    margin-left: 67px;
}

.bookYourEscapeTitle>span{
    font-family: 'Josefin Semibold';
    font-size: 2rem;
    letter-spacing: 0.05rem;
}

.bookYourEscapeDescription>span{
    font-family: 'Raleway';
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1.8rem;
}